* {
    font-family: 'Cormorant', serif;
}

body, html {
    height: 100%;
  }

.bg1 {
    /* background-image: url(); */
  
    height: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.274)), url("/Users/juliazolotarev/Documents/Flatiron/assignments/Mod 3/booknook/book-nook-front-end/assets/reading nook.jpg");
  
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }

.bg2 {
/* background-image: url(); */

height: 100%;
background-image: linear-gradient(rgba(255, 255, 255, 0.548), rgba(255, 255, 255, 0.452));

background-position: center;
background-repeat: no-repeat;
background-size: cover;
position: relative;
}

.hero-text {
    text-align: center;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 24px;
  }


.arrow {
    border: solid rgb(255, 255, 255);
    border-width: 0 5px 5px 0;
    display: inline-block;
    padding: 3px;
  }

  .down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
  }

.heading {
    text-align: center;
    position: absolute;
    top: 10%;
    left: 50%;
    font-size: 24px;
    transform: translate(-50%, -50%);
}

.black {
    border: solid rgb(0, 0, 0);
    border-width: 0 5px 5px 0;
    position: relative;
    /* bottom: 5%; */
    top: 90%;
}

main {
  border: 2px black;
}