* {
    font-family: 'Cormorant', serif;
}

body, html {
    height: 100%;
  }


  /* @import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700|Poppins:400,500&display=swap'); */
  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
  }
  .bg-img {
    background-image: url(assets/open-book.jpg);
  
    height: 100%;
    /* background-image: linear-gradient(rgba(136, 77, 77, 0.5), rgba(216, 0, 0, 0.274)), url("assets/background1.jpg"); */
  
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }

  .bg-img:after{
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.274);
  }
  .content{
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 999;
    text-align: center;
    padding: 60px 32px;
    width: 370px;
    transform: translate(-50%,-50%);
    background: rgba(5, 5, 5, 0.068);
    box-shadow: -1px 4px 28px 0px rgba(0, 0, 0, 0.75);
  }
  .content header{
    color: white;
    font-size: 33px;
    font-weight: 600;
    margin: 0 0 35px 0;
    /* font-family: 'Montserrat',sans-serif; */
  }
  .field{
    position: relative;
    height: 45px;
    width: 100%;
    display: flex;
    background: rgba(255,255,255,0.94);
  }
  .field span{
    color: #222;
    width: 40px;
    line-height: 45px;
  }
  .field input{
    height: 100%;
    width: 100%;
    background: transparent;
    border: none;
    outline: none;
    color: #222;
    font-size: 16px;
    /* font-family: 'Poppins',sans-serif; */
  }
  .space{
    margin-top: 16px;
  }
  .show{
    position: absolute;
    right: 13px;
    font-size: 13px;
    font-weight: 700;
    color: #222;
    display: none;
    cursor: pointer;
    /* font-family: 'Montserrat',sans-serif; */
  }

  .field input[type="submit"]{
    background: #162708bd;
    border: 1px solid #162708bd;
    color: white;
    font-size: 18px;
    letter-spacing: 1px;
    font-weight: 600;
    cursor: pointer;
    /* font-family: 'Montserrat',sans-serif; */
  }
  .field input[type="submit"]:hover{
    background: #162708bd;
  }
  .login{
    color: white;
    margin: 20px 0;
    /* font-family: 'Poppins',sans-serif; */
  }
  i span{
    margin-left: 8px;
    font-weight: 500;
    letter-spacing: 1px;
    font-size: 16px;
    /* font-family: 'Poppins',sans-serif; */
  }
  .signup{
    font-size: 15px;
    color: white;
    /* font-family: 'Poppins',sans-serif; */
  }
  .signup a{
    color: #162708bd;
    text-decoration: none;
  }
  .signup a:hover{
    text-decoration: underline;
  }
  


.bg1 {
    /* background-image: url(); */
  
    height: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.274)), url("assets/reading nook.jpg");
  
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.bg2 {
/* background-image: url(); */

height: 100%;
background-image: linear-gradient(rgba(255, 255, 255, 0.548), rgba(255, 255, 255, 0.452));
overflow: auto;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
position: relative;
}

#page-three{
  position: inherit;
  bottom: 0;
  left: 0;
}

.hero-text {
    text-align: center;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 24px;
  }


.arrow {
    border: solid rgb(255, 255, 255);
    border-width: 0 5px 5px 0;
    display: inline-block;
    padding: 3px;
  }

#book-arrow {
    border-width: 0 5px 5px 0;
    /* display: block; */
    padding: 3px;
    text-align: center;
    height: 1px;
    margin-left: 50%;
    /* margin-right: 50%; */
    border: solid rgb(0, 0, 0);
    border-width: 0 5px 5px 0;
    position: relative;
    /* bottom: 5%; */
    /* top: 90%; */
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

  .down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
  }

.heading {
    text-align: center;
    position: absolute;
    top: 10%;
    /* left: 50%; */
    font-size: 24px;
    /* transform: translate(-50%, -50%); */
}

/* .black {
    border: solid rgb(0, 0, 0);
    border-width: 0 5px 5px 0;
    position: relative;
    /* bottom: 5%; */
    /* top: 90%; */
/* } */ 

.flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-item {
  margin: 10px;
  padding: 20px;
  align-items: center;
  text-align: center;
}

main {
  border: 2px black;
}

p {
  font-size: 12px;
  text-align: center;
}

div>img {
  width: 128px;
  height: 192px;
}

p:hover, div>img:hover {
  box-shadow: black;
}

.header {
  text-align: center;
  margin-top: 10%;
  font-size: 32px;
}

#book-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  align-items: center;
  grid-template-rows: auto;

}

#forms-container {
  text-align: center;
  display: inline-block;
  position: inherit;

  padding-bottom: 20px;
  /* width: 100%; */
  top: 20px;
  /* top: 50%; */
  left: 50%;
  /* margin-top: -50px; */
  margin-left: -100px;
  /* top: 50%; */
  /* left: 50%; */
  /* text-align: center;
  position: absolute;
  bottom: 0px; */
  /* display: grid; */
  /* grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); */
  /* align-items: center; */
  /* grid-template-rows: auto; */
  /* position: absolute; */
  /* bottom: 0px; */
  /* margin-left: 39%; */
  /* margin-bottom: 20px; */
}

.form-item {
  /* position: inherit; */
  text-align: center;
  justify-content: center;
}

.hvr-float-shadow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.932);
  position: relative;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-float-shadow:before {
  pointer-events: none;
  position: absolute;
  z-index: -1;
  content: ' ';
  top: 100%;
  left: 5%;
  height: 10px;
  width: 90%;
  opacity: 0;
  background: -webkit-radial-gradient(center, ellipse, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 80%);
  background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 80%);
  /* W3C */
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform, opacity;
  transition-property: transform, opacity;
}
.hvr-float-shadow:hover, .hvr-float-shadow:focus, .hvr-float-shadow:active {
  -webkit-transform: translateY(-8px);
  transform: translateY(-8px);
  /* move the element up by 5px */
}
.hvr-float-shadow:hover:before, .hvr-float-shadow:focus:before, .hvr-float-shadow:active:before {
  opacity: 1;
  -webkit-transform: translateY(8px);
  transform: translateY(8px);
  /* move the element down by 5px (it will stay in place because it's attached to the element that also moves up 5px) */
}


.form-popup {
  display: none;
  position: sticky;
  bottom: 0;
  right: 15px;
  border: 3px solid #f1f1f1;
  z-index: 9;
}

.open-button {
  background-color: #555;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  position: sticky;
  bottom: 23px;
  right: 28px;
  width: 280px;
}

/* modal button */

.modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  visibility: hidden;
  transform: scale(1.1);
  transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
}
.modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 1rem 1.5rem;
  width: 24rem;
  border-radius: 0.5rem;
}
.close-button {
  float: right;
  width: 1.5rem;
  line-height: 1.5rem;
  text-align: center;
  cursor: pointer;
  border-radius: 0.25rem;
  background-color: lightgray;
}
.close-button:hover {
  background-color: darkgray;
}
.show-modal {
  opacity: 1;
  visibility: visible;
  transform: scale(1.0);
  transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}

#book-detail {
  text-align: center;
  overflow: auto;
  position: inherit;
  font-size: larger;
  margin: 30px;
  margin-left: 250px;
  margin-right: 250px;
}

#book-detail p{
  padding-top: 5px;
  font-size: 18px;
}

#outer-review-box {
  overflow: auto;
}

#review-open-btn, #add-open-btn, #edit-book-open-btn{
  /* width:100px;  */
  display:inline-block;

  bottom: 0px;
  /* position:relative; */
  /* top:50%; 
  left:50%; */
}